/* Navbar */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 25%;
  height: 100%;
  border-right: $border-black;
  padding: 30px 15px;
  justify-content: space-between;
}

.portrait {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid $color-red;

  &.onMobile {
    margin-bottom: 30px;
  }
}

.navigation {
  text-align: center;

  &__container {
    list-style: none;
  }

  &__item {
    margin: 30px 0;


    &:first-of-type,
    &:last-of-type {
      margin: 10px;
    }
  }

  &__link {
    font-family: $font-family-secondary;
    font-weight: 700;
    color: $color-black;
    font-size: 32px;
    text-decoration: none;
    border-bottom: 4px solid $color-black;
    transition: border-bottom 0.25s ease-in-out, color 0.25s ease-in-out;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $color-green;
      border-bottom: 4px solid $color-green;
      transition: all 0.25s ease-in-out;
    }
  }
}

.contact {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__icon {
    height: 16px;
    margin-right: 8px;
  }

  &__link {
    color: $color-black;
    transition: color 0.25s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      color: $color-blue;
      transition: color 0.25s ease-in-out;
    }
  }
}

@media screen and (max-width: $break-large) {
  .navbar {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    background: $color-white;
    border-bottom: $border-black;
    border-right: none;
    padding: 15px;

    .title {
      width: 100%;
    }
  }

  .navigation {
    text-align: initial;

    &__container {
      display: flex;
      align-items: center;
    }

    &__item {
      margin: 0 30px;
    }
  }
}

@media screen and (max-width: $break-medium) {
  .navbar {
    height: 120px;
    
    .title {
      font-size: 34px;
    }
  }

  .navigation__link {
    font-size: 22px;
  }
}
