/* Fonts */

$font-family-primary: 'Work Sans', sans-serif;
$font-family-secondary: 'Work Sans', sans-serif;

/* Colors */

$color-red: #E52C38;
$color-blue: #2000FF;
$color-yellow: #FCF62D;
$color-black: #000;
$color-white: #fff;

/* Breakpoints */

$break-small: 320px;
$break-medium: 768px;
$break-large: 1025px;

/* Borders */

$border-black: 6px solid $color-black;