.navbar {
  display:flex;
  flex-direction:column;
  align-items:center;
  flex:0 0 25%;
  height:100%;
  border-right:6px solid #000;
  padding:30px 15px;
  justify-content:space-between;
  overflow-y:scroll
}
.portrait {
  height:auto;
  width:150px;
  border-radius:50%;
  border:2px solid #e52c38;
  margin-bottom:20px;
  margin-top:20px
}
.navigation {
  text-align:center
}
.navigation__container {
  list-style:none
}
.navigation__item {
  margin:10px 20px 20px
}
.navigation__link,
.navigation__externalLink {
  font-family:Work Sans,sans-serif;
  font-weight:700;
  color:#000;
  font-size:24px;
  text-decoration:none;
  border-bottom:4px solid #000;
  transition:border-bottom .25s ease-in-out,color .25s ease-in-out
}
.navigation__link.active,
.navigation__link:active,
.navigation__link:focus,
.navigation__link:hover {
  color:#49a628;
  border-bottom:4px solid #49a628;
  transition:all .25s ease-in-out
}
.navigation__externalLink:hover {
  color:#49a628;
  border-bottom:4px solid #49a628;
  transition:all .25s ease-in-out
}
.contact {
  margin-top:20px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start
}
.contact__item {
  display:flex;
  align-items:center;
  margin-bottom:12px
}
.contact__item:last-of-type {
  margin-bottom:30px
}
.contact__icon {
  height:16px;
  margin-right:8px
}
.contact__link {
  color:#000;
  transition:color .25s ease-in-out
}
.contact__link:active,
.contact__link:focus,
.contact__link:hover {
  color:#2000ff;
  transition:color .25s ease-in-out
}
@media screen and (max-width:1025px) {
  .navbar {
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:center;
    position:fixed;
    top:0;
    height:150px;
    background:#fff;
    border-bottom:6px solid #000;
    border-right:none;
    padding:15px
  }
  .navbar,
  .navbar .title {
    width:100%
  }
  .navigation {
    text-align:initial
  }
  .navigation__container {
    display:flex;
    align-items:
  }
  .navigation__item {
    margin:20 20px
  }
  .navigation__link,
  .navigation__externalLink {
    font-size:20px
  }
}
@media screen and (max-width:768px) {
  .navbar {
    height:120px
  }
  .navbar .title {
    font-size:30px
  }
  .navigation__link,
  .navigation__externalLink {
    font-size:14px
  }
}
.wrapper {
  max-width:75%;
  height:100%;
  width:75%
}
.page {
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
  max-width:100%;
  overflow:hidden
}
.page--about {
  background-color:#2000ff
}
.page--links {
  background-color:#fcf62d
}
.title {
  -webkit-text-stroke-width:2px;
  -webkit-text-stroke-color:#e52c38;
  font-family:sans-serif;
  font-weight:700;
  font-size:42px;
  text-transform:uppercase;
  color:transparent;
  letter-spacing:1.5px;
  text-align:center
}
.card {
  display:flex;
  flex-direction:column;
  margin:60px;
  background-color:#fff;
  border:6px solid #000;
  height:100%;
  padding:60px;
  overflow-y:scroll
}
.card__title {
  font-size:36px;
  margin-bottom:15px;
  text-align:left
}
.card__title--about,
.card__title--links {
  -webkit-text-stroke-color:#2000ff;
  margin-bottom:15px
}
.card__subtitle {
  margin:15px 0
}
.card__body {
  font-size:16px;
  margin-bottom:15px;
  line-height:1.3
}
.card__body:last-of-type {
  margin-bottom:30px
}
.card__body__link {
  text-decoration:none;
  color:#2000ff;
  border-bottom:2px solid #2000ff;
  transition:all .3s ease-out
}
.card__body__link:hover {
  box-shadow:inset 0 -30px 0 #2000ff;
  color:#fff
}
.card__body__link--about {
  color:#e52c38;
  border-bottom:2px solid #e52c38
}
.card__body__link--about:hover {
  box-shadow:inset 0 -30px 0 #e52c38;
  color:#fff
}
.card__body--about {
  color:#2000ff;
  margin-bottom:15px
}
.card__body--links,
.card__body--links:last-of-type {
  margin-bottom:15px
}
.card__section:last-of-type {
  padding-bottom:60px
}
.figure__image {
  width:100%;
  margin-bottom:15px;
  margin-top:15px
}
.figure__caption {
  line-height:1.3
}
@media screen and (max-width:1025px) {
  .wrapper {
    max-height:100%;
    margin-top:150px;
    width:100%;
    max-width:100%;
    overflow:hidden
  }
  .page { 
    overflow:hidden
  }
  .card {
    overflow-y:scroll 
  }
  .card__section:last-of-type {
    padding-bottom:15px
  }
}
@media screen and (max-width:768px) {
  .wrapper {
    margin-top:120px;
    width:100%;
    max-width:100%;
    overflow:hidden;
    max-height:100%;
  }
  .card {
    margin:30px;
    padding:30px;
    align-items:center
  }
  .card__body {
    text-align:left
  }
}
html {
  height:100%;
  width:100%;
  box-sizing:border-box
}
*,
:after,
:before {
  box-sizing:inherit
}
body {
  height:100%;
  width:100%;
  overflow:hidden;
  font-family:Work Sans,sans-serif;
  color:#000;
  font-weight:lighter
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin:0;
  padding:0
}
.container {
  display:flex;
  height:100vh;
  flex-direction:row
}
.onMobile {
  display:none
}
.onDesktop {
  display:block
}
::-moz-selection {
  background:#fcf62d
}
::-moz-selection,
::selection {
  background:#fcf62d
}
@media screen and (max-width:1025px) {
  .container {
    flex-direction:column;
    overflow-y:scroll
  }
  .onMobile {
    display:block
  }
  .onDesktop {
    display:none
  }
}
