@import 'variables';
@import 'sidebar';
@import 'page';

/* Base Styles */

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

*,*:before,*:after { 
  box-sizing: inherit; 
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: $font-family-primary;
  color: $color-black;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0; 
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}